/* yansong.css */
/* 10->2 100->4 1000->8 ... */
/* reset.css */
html { height:100%; color:#000; background:#DCE0E4 url(i/bg-body.png); }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
td, th { padding:5px 10px; border:1px solid #888; background:#ddd; }
th { background:#F0F0F0; color: #036; }
fieldset, img { border:1px solid #DDD; vertical-align:top; }
ul, ol { margin-left:1em; list-style: circle outside none; }
ol { list-style-type: decimal; }
h1 { font-size:28px; }
h2 { font-size:24px; }
h3 { font-size:20px; }
h4, h5, h6 { font-size:16px; }
sup { vertical-align:text-top; }
sub { padding-left:2px; vertical-align:text-bottom; color:#108080; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; *font-size:100%; }
legend { color:#000; }
strong, em { font-weight:bold; color:#C30; }
cite { padding:10px; border:1px dashed #008080; color:#008080; }
a, a:link, a:visited { color:#108080; text-decoration:none; }
a { -webkit-transition:color .5s ease-in; -moz-transition:color .5s ease-in; transition:color .5s ease-in; }
a:hover { color:#369; text-decoration:underline; }
/* common.css */
.cf:after, #bd:after, #hd:after { content:''; display:block; height:0; clear:both; }
.cf, #bd, #hd { zoom:1 }
.hidden { display:none; }
.tri { position:absolute; width:0; height:0; line-height:0; font-size:0; border:5px dashed transparent; }
p code { padding:0 8px; border:1px solid #ccc; border-radius:5px; box-shadow:1px 1px 2px rgba(0,0,0, .6) white-space:nowrap; background-color:#f0f0f0; color:gray; }
body { height:100%; font:16px/1.5625 "Helvetica Neue",Helvetica,Arial,'Microsoft Yahei',sans-serif; }
#doc-mask { position:fixed; left:0; top:0; width:100%; height:50%; background:#000; filter:Alpha(opacity=94); opacity:.94;
background-image:-webkit-linear-gradient(top, #000, #444);
background-image:-moz-linear-gradient(top, #000, #444);
background-image:linear-gradient(top, #000, #444);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#444444');
}
/* page.css */
.pg-content { padding:32px; }
#doc { position:relative; margin:0 auto; max-width:1024px; _width:1024px; }
#ie-browser { position:absolute; z-index:9; color:#FFF; text-align:center; }
#hd { color:#AAA; text-align:right; text-shadow:0 1px 1px #222; }
#hd h1 { padding:16px 0; }
#hd h2 { padding-bottom:12px; line-height:30px; }
#hd a { color:#FFF; white-space:nowrap; }
#hd a:hover { color:#94D4D6; text-decoration:none; }
#nav { position:relative; margin-top:-30px; line-height:30px; letter-spacing:2px; font-size:16px; }
#nav li { float:left; padding-right:20px; list-style-position:inside; font-size:18px; }
#bd { min-height:512px; background:#FEFEFE; border-radius:8px; }
#bd h2 { padding-bottom:16px; text-align:center; color:#706409; }
#ft { padding:10px 0; text-align:center; }
#page-nav { clear:both; height:20px; padding:30px 0; text-align:center; }
#page-nav .curr { color:#C30; font-weight:bold; }
#page-nav .prev { float:left; }
#page-nav .next { float:right; }
#page-nav span.prev,
#page-nav span.next { color:#CCC; }
.a-letter { padding-top:512px; height:0; border-radius:5px; background:#c3d4e4 url(i/rainDrops.jpg) no-repeat center center; overflow:hidden; font-size:24px; font-weight:bold; white-space:nowrap; color:#E000E0; background-size:100% 100%; }
.a-letter .ignore { position:absolute; z-index:2; margin-top:-444px; width:100%; text-align:center; color:#248; }
.a-letter .ignore h2 { font-size:24px; }
.a-letter .ignore p { font-size:18px; }
.a-desire { padding-top:673px; background-color:#101010; background-image:url(i/desire.jpg); }
.a-desire .ignore { margin-top:-600px; }
#bd .a-desire h2 { color:rgb(73, 64, 0); }
/* 博客列表 */
#blog-list #content { float:left; width:700px; }
#blog-list .item { margin-bottom:15px; border-bottom:1px solid #ccc; }
#blog-list .item h3 a { color:#706409; }
#blog-list .item .desc { padding:10px 0; text-indent:2em; }
#blog-list .item .read { float:right; margin-top:3px; }
#blog-list .item .time { padding-right:16px; font-family:Georgia; }
#sidebar { float:right; margin-right:-10px; padding:20px 0;  width:240px; }
#sidebar h3 { padding:10px 0; }
#sidebar .num { color:green; }
#blog-list .item .tag,
#sidebar .tags a { display:inline-block; *zoom:1; padding:0 5px; margin:0 5px 5px 0; line-height:30px; white-space:nowrap; background:#EEE; border-radius:15px; font-family:Georgia, Tahoma; }
#sidebar .tags .tag-small { font-size:16px; font-weight:bold; color:green; }
#sidebar .tags .tag-big { font-size:24px; font-weight:bold; color:orange; }
#sidebar .tags .tag-bob { font-size:32px font-weight:bold; color:#CA0101; }
#sidebar .tags sub { padding-left:2px; vertical-align:text-bottom; text-decoration:none; }
/* 博客页面 */
#blog h3 { padding:12px 0; }
#sidebar h3:before,
#blog h3:before,
#blog h4:before,
#blog h5:before { float:left; margin-top:12px; margin-right:10px; content:''; height:5px; width:128px; background-color:#3060c0; }
#blog h4:before { margin-top:0; width:6px; height:24px; }
#sidebar h3:before,
#blog h5:before { margin-top:2px; width:4px; height:20px; background-color:#408040; }
#sidebar h3:before { margin-top:5px; background-color:#706409; }
#blog h4 { padding:1em 0; color:#333; }
#blog h5 { padding:1em 0; color:#444; }
#blog p { padding:5px 0; color:#404040; }
#blog blockquote { padding-left:1.5em; font-style:italic; }
#blog blockquote p { color:green; }
#blog ol, #blog ul { padding:1em; }
#blog #copyright { margin:10px 0; padding:10px 20px; line-height:1; border-radius:5px; background:#AAD2F0; }
#blog #comment-box { margin-top:20px; padding:0 10px; text-align:center; }
#blog #comment-box a { display:inline-block; *zoom:1; margin:0 40px; padding:0 10px; height:24px; line-height:24px; border:1px solid #ccc; border-radius:12px; color:#36c; }
#blog img { opacity:.9; -moz-transition:all .5s ease-in; -webkit-transition:all .5s ease-in; transition:all .5s ease-in; }
#blog img:hover { opacity:1; -moz-transform:scale(1.1); -webkit-transform:scale(1.1); transform:scale(1.1); }
/* 关于我的页面 */
#list ul { padding:8px 6px; }
#list li { line-height:24px; }
#list pre { margin-top:15px; }

@media screen and (min-width:800px) and (max-width:1024px) {
    #doc { width:1024px; }
}
@media screen and (max-width: 799px) {
    #hd { padding-right:1em; }
    #hd h1 { padding:0; }
    #hd h2 { padding:0; }
    #nav { margin-top:0; }
    #ft .base { display:block; }
    #blog-list #content { float:none; width:auto; }
    #sidebar { width:auto; border-top:3px solid #706409; }
}
@media screen and (max-width:480px) {
    #hd h2 { font-size:20px; }
    #nav li { padding-right:12px; }
}

#about { line-height:30px; }

/* highlight code */
.highlight{background-color:#efefef;padding:7px 7px 7px 10px;border:1px solid #ddd;border-radius:5px;-moz-box-shadow:3px 3px rgba(0,0,0,.1);-webkit-box-shadow:3px 3px rgba(0,0,0,.1);box-shadow:3px 3px rgba(0,0,0,.1);margin:20px 0 20px 0;overflow:hidden}code{font-family:'Bitstream Vera Sans Mono','Courier',monospace}.highlight .c{color:#586E75}.highlight .err{color:#93A1A1}.highlight .g{color:#93A1A1}.highlight .k{color:#859900}.highlight .l{color:#93A1A1}.highlight .n{color:#93A1A1}.highlight .o{color:#859900}.highlight .x{color:#CB4B16}.highlight .p{color:#93A1A1}.highlight .cm{color:#586E75}.highlight .cp{color:#859900}.highlight .c1{color:#586E75}.highlight .cs{color:#859900}.highlight .gd{color:#2AA198}.highlight .ge{color:#93A1A1;font-style:italic}.highlight .gr{color:#DC322F}.highlight .gh{color:#CB4B16}.highlight .gi{color:#859900}.highlight .go{color:#93A1A1}.highlight .gp{color:#93A1A1}.highlight .gs{color:#93A1A1;font-weight:700}.highlight .gu{color:#CB4B16}.highlight .gt{color:#93A1A1}.highlight .kc{color:#CB4B16}.highlight .kd{color:#268BD2}.highlight .kn{color:#859900}.highlight .kp{color:#859900}.highlight .kr{color:#268BD2}.highlight .kt{color:#DC322F}.highlight .ld{color:#93A1A1}.highlight .m{color:#2AA198}.highlight .s{color:#2AA198}.highlight .na{color:#93A1A1}.highlight .nb{color:#B58900}.highlight .nc{color:#268BD2}.highlight .no{color:#CB4B16}.highlight .nd{color:#268BD2}.highlight .ni{color:#CB4B16}.highlight .ne{color:#CB4B16}.highlight .nf{color:#268BD2}.highlight .nl{color:#93A1A1}.highlight .nn{color:#93A1A1}.highlight .nx{color:#555}.highlight .py{color:#93A1A1}.highlight .nt{color:#268BD2}.highlight .nv{color:#268BD2}.highlight .ow{color:#859900}.highlight .w{color:#93A1A1}.highlight .mf{color:#2AA198}.highlight .mh{color:#2AA198}.highlight .mi{color:#2AA198}.highlight .mo{color:#2AA198}.highlight .sb{color:#586E75}.highlight .sc{color:#2AA198}.highlight .sd{color:#93A1A1}.highlight .s2{color:#2AA198}.highlight .se{color:#CB4B16}.highlight .sh{color:#93A1A1}.highlight .si{color:#2AA198}.highlight .sx{color:#2AA198}.highlight .sr{color:#DC322F}.highlight .s1{color:#2AA198}.highlight .ss{color:#2AA198}.highlight .bp{color:#268BD2}.highlight .vc{color:#268BD2}.highlight .vg{color:#268BD2}.highlight .vi{color:#268BD2}.highlight .il{color:#2AA198}
