/* yansong.css */
/* 10->2 100->4 1000->8 ... */
/* reset.css */
html { color:#000; background:#DCE0E4 url(i/bg-body.png); }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, img { border:0; vertical-align:top; }
ul { list-style: circle inside none; }
ol { list-style: decimal inside none; }
h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:18px; }
h4, h5, h6 { font-size:14px; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
caption,th,td { text-align:center; }
input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit; *font-size:100%; }
legend { color:#000; }
strong, em { font-weight:bold; color:#C30; }
cite { padding:10px; border:1px dashed #008080; color:#008080; }
a, a:link, a:visited { color:#108080; text-decoration:none; }
a:hover { color:#369; text-decoration:underline; }
pre { padding:10px; border:1px dashed #000369; background:#EEE; border-radius:5px; }
/* common.css */
.cf:after, #bd:after, #hd:after { content:''; display:block; height:0; clear:both; }
.cf, #bd, #hd { zoom:1 }
.hidden { display:none; }
.tri { position:absolute; width:0; height:0; line-height:0; font-size:0; border:5px dashed transparent; }
body { font:14px/1.5 Helvetica,Arial,'Microsoft Yahei',sans-serif; }
#doc-mask { position:absolute; width:100%; height:50%; background:#000; filter:Alpha(opacity=94); opacity:.94;
background-image:-webkit-linear-gradient(top, #000, #444);
background-image:-moz-linear-gradient(top, #000, #444);
background-image:linear-gradient(top, #000, #444);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#444444');
}
.pg-content { padding:30px; }
#doc { position:relative; margin:0 auto; width:1024px; }
#ie-browser { position:absolute; z-index:9; color:#FFF; text-align:center; }
#hd { color:#AAA; text-align:right; text-shadow:0 1px 1px #222; }
#hd h1 { padding:16px 0; }
#hd h1 a:hover { text-decoration:none; }
#hd h2 { padding-bottom:12px; }
#hd a { color:#FFF; }
#hd a:hover { color:#94D4D6; }
#nav { float:left; margin-top:-30px; letter-spacing:1px; font-size:16px; }
#nav li { float:left; padding-right:20px; }
#bd { min-height:512px; background:#FFF; border-radius:8px; }
#bd h2 { padding-bottom:20px; text-align:center; }
#ft { padding:10px 0; text-align:center; }
#page-nav { clear:both; height:20px; padding:30px 0; }
#page-nav .prev { float:left; }
#page-nav .next { float:right; }
#rain-drops { padding-top:512px; width:1024px; height:0; border-radius:5px; background:url(i/rainDrops.jpg) no-repeat; overflow:hidden; font-size:24px; font-weight:bold; white-space:nowrap; color:#E000E0; }
#rain-drops .ignore { position:absolute; z-index:2; margin-top:-444px; width:100%; text-align:center; color:#248; }
#rain-drops .ignore h2 { font-size:24px; }
#rain-drops .ignore p { font-size:18px; }
/* 博客列表 */
#blog-list #content { float:left; width:700px }
#blog-list .item { padding-bottom:15px; }
#blog-list .item .desc { padding:10px 0; text-indent:2em; }
#blog-list .item .read { float:right; }
#blog-list .item .time { padding-right:16px; }
#sidebar { float:right; margin-right:-10px; padding:20px 0;  width:240px; }
#sidebar h3 { padding:10px 0; }
#sidebar .num { color:green; }
#sidebar .tags a { padding-right:10px; line-height:30px; white-space:nowrap; }
/* 博客页面 */
#blog h3 { padding: 9px 0; }
#blog h4 { padding:5px 0; }
#blog p { padding:5px 0; }
/* 关于我的页面 */
#list ul { padding:8px 6px; }
#list li { line-height:24px; }
#list pre { margin-top:15px; }

/* highlight code */
.highlight{background-color:#efefef;padding:7px 7px 7px 10px;border:1px solid #ddd;-moz-box-shadow:3px 3px rgba(0,0,0,.1);-webkit-box-shadow:3px 3px rgba(0,0,0,.1);box-shadow:3px 3px rgba(0,0,0,.1);margin:20px 0 20px 0;overflow:hidden}code{font-family:'Bitstream Vera Sans Mono','Courier',monospace}.highlight .c{color:#586E75}.highlight .err{color:#93A1A1}.highlight .g{color:#93A1A1}.highlight .k{color:#859900}.highlight .l{color:#93A1A1}.highlight .n{color:#93A1A1}.highlight .o{color:#859900}.highlight .x{color:#CB4B16}.highlight .p{color:#93A1A1}.highlight .cm{color:#586E75}.highlight .cp{color:#859900}.highlight .c1{color:#586E75}.highlight .cs{color:#859900}.highlight .gd{color:#2AA198}.highlight .ge{color:#93A1A1;font-style:italic}.highlight .gr{color:#DC322F}.highlight .gh{color:#CB4B16}.highlight .gi{color:#859900}.highlight .go{color:#93A1A1}.highlight .gp{color:#93A1A1}.highlight .gs{color:#93A1A1;font-weight:700}.highlight .gu{color:#CB4B16}.highlight .gt{color:#93A1A1}.highlight .kc{color:#CB4B16}.highlight .kd{color:#268BD2}.highlight .kn{color:#859900}.highlight .kp{color:#859900}.highlight .kr{color:#268BD2}.highlight .kt{color:#DC322F}.highlight .ld{color:#93A1A1}.highlight .m{color:#2AA198}.highlight .s{color:#2AA198}.highlight .na{color:#93A1A1}.highlight .nb{color:#B58900}.highlight .nc{color:#268BD2}.highlight .no{color:#CB4B16}.highlight .nd{color:#268BD2}.highlight .ni{color:#CB4B16}.highlight .ne{color:#CB4B16}.highlight .nf{color:#268BD2}.highlight .nl{color:#93A1A1}.highlight .nn{color:#93A1A1}.highlight .nx{color:#555}.highlight .py{color:#93A1A1}.highlight .nt{color:#268BD2}.highlight .nv{color:#268BD2}.highlight .ow{color:#859900}.highlight .w{color:#93A1A1}.highlight .mf{color:#2AA198}.highlight .mh{color:#2AA198}.highlight .mi{color:#2AA198}.highlight .mo{color:#2AA198}.highlight .sb{color:#586E75}.highlight .sc{color:#2AA198}.highlight .sd{color:#93A1A1}.highlight .s2{color:#2AA198}.highlight .se{color:#CB4B16}.highlight .sh{color:#93A1A1}.highlight .si{color:#2AA198}.highlight .sx{color:#2AA198}.highlight .sr{color:#DC322F}.highlight .s1{color:#2AA198}.highlight .ss{color:#2AA198}.highlight .bp{color:#268BD2}.highlight .vc{color:#268BD2}.highlight .vg{color:#268BD2}.highlight .vi{color:#268BD2}.highlight .il{color:#2AA198}
