---
layout: default
---
<section id="blog-list" class="pg-content">
    <section id="content">
        <h2>{{ page.title }}</h2>
        {{content}}
    </section>
    <aside id="sidebar">
        <section class="profile box">
            <h3>个人简介</h3>
            <div class="cont">
            </div>
        </section>
        <section class="box">
            <h3>博客分类</h3>
            <ul>
                {% for category in site.categories %}
                <li>{{ category[0] }}</a>
                {% endfor %}
            </ul>
        </section>
        <section class="box">
            <h3>全站标签</h3>
            <ul>
                {% for tag in site.tags %}
                    <li>{{ tag.[0] }}</li>
                {% endfor %}
            </ul>
    </aside>
    <div id="page-nav">
    {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" class="prev">&larr; prev</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ BASE_PATH }}{{ page.next.url}}" class="next">next &rarr;</a>
    {% endif %}
    </div>
</section>
