---
layout: default
---
<section id="blog-list" class="pg-content">
    <section id="content">
        <h2>{{ page.title }}</h2>
        {{content}}
    </section>
    <aside id="sidebar">
        <section class="profile box">
            <h3>个人数据</h3>
            <div class="cont">
{% highlight javascript %}
var yansong = {
    "职业": "Web前端开发",
    "住所": "天朝",
    "微博": "一小木工",
    "Github": "yss",
    "性别": "男",
    "爱好": "女"
};
yansong["邮箱"] =
"yss.nelson[at]gmail.com";
{% endhighlight %}
            </div>
        </section>
        <section class="box">
            <h3>博客分类</h3>
            <ul>
                {% for category in site.categories %}
                <li><a href="{{ site.baseurl }}/categories.html#{{ category[0] }}">{{ category[0] }}(<span class="num">{{ category[1] | size }}</span>)</a></a>
                {% endfor %}
            </ul>
        </section>
        <section class="box">
            <h3>全站标签</h3>
            <div class="tags">
                {% assign tagClass = 'tag' %}
                {% for tag in site.tags %}
                    {% assign tagSize = (tag[1] | size) %}
                    {% case tagSize %}
                    {% when 1 %}
                        {% assign tagClass = 'tag' %}
                    {% when 2 or 3 or 4 %}
                        {% assign tagClass = 'tag-small' %}
                    {% when 5 or 6 or 7 or 8 %}
                        {% assign tagClass = 'tag-big' %}
                    {% else %}
                        {% assign tagClass = 'tag-bob' %}
                    {% endcase %}
                        <a href="{{ site.baseurl }}/tags.html#{{ tag[0] }}" class="{{ tagClass }}">{{ tag[0] }}<sub>{{ tag[1] | size }}</sub></a>
                {% endfor %}
            </div>
        </section>
        <section class="box">
            <h3>有朋自远方来</h3>
            <ul>
                <!-- <li><a href="http://www.shi-tou.net/" target="_blank" title="石头的个人博客">石头记</a></li> -->
                <li><a href="http://www.bokeyy.com/" target="_blank" title="袁源（歪歪）的个人博客">博客歪歪</a></li>
                <li><a href="http://www.iunbug.com/" target="_blank" title="Undeniable[Better:见贤思齐,闻庸自省. Unique:独立思索,志在远方. Genuine:谦逊真诚,宽以待人.]">i,unbug</a></li>
                <li><a href="http://shangchun.net/" target="_blank" title="尚春">尚春</a></li>
                <!-- <li><a href="" target="_blank" title=""></a></li> -->
                <li class="hidden"><a href="http://www.youjiaoyin.com" target="_blank" title="游脚印">游脚印</a></li>
            </ul>
        </section>
    </aside>
</section>
