---
layout: default
---
<section id="blog" class="pg-content">
    <h2>{{ page.title }}</h2>
    {{content}}
    <div id="page-nav">
    {% if page.previous %}
        <a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" class="prev">&larr; {{page.previous.title}}</a>
    {% else %}
        <span class="prev">| 第一篇了 |</span>
    {% endif %}
    {% if page.next %}
        <a href="{{ BASE_PATH }}{{ page.next.url}}" title="{{ page.next.title }}" class="next">{{page.next.title}} &rarr;</a>
    {% else %}
        <span class="next">等待作者啃笔头吧 |</span>
    {% endif %}
    </div>
    <div id="uyan_frame"></div>
    <script>
        if (~window.location.host.indexOf('yansong.me')) {
            var script = document.createElement('script');
            script.src = 'http://v1.uyan.cc/js/iframe.js?UYUserId=1681855';
            script.async = true;
            document.getElementsByTagName('head')[0].appendChild(script);
        }
    </script>
</section>
